Repository HERA-Team/librarian: changes, and which Codecov flags are due for each by the changed paths.
All: hera_librarian, librarian_server

.codecov.yml:

coverage:
  status:
    project:
      default: off
      hera_librarian:
        flags: hera_librarian
      librarian_server:
        flags: librarian_server

flags:
  hera_librarian:
    paths:
      - hera_librarian
  librarian_server:
    paths:
      - server/librarian_server

Add source to .coveragerc
  .coveragerc
Due: none

Add tests for webutil.py
  ci/server-config-ci.json
  server/librarian_server/__init__.py
  server/librarian_server/tests/__init__.py
  server/librarian_server/tests/conftest.py
  server/librarian_server/tests/test_data
  server/librarian_server/tests/test_store.py
  server/librarian_server/tests/test_webutil.py
Due: librarian_server

Change ci installation after reorg
  .circleci/config.yml
  ci/install-circle.sh
Due: none

Add hera_librarian symlink back
  librarian_packages/server/hera_librarian
Due: none

Change symlink
  librarian_packages/server/hera_librarian
Due: none

Remove .codecov.yml
  .codecov.yml
Due: none

Add missing comma
  librarian_packages/server/setup.py
Due: none

Move docs folder to hera_librarian subpackage; add MANIFEST.in files
  CHANGELOG.md
  MANIFEST.in
  README.md
  conftest.py
  librarian_packages/hera_librarian/MANIFEST.in
  librarian_packages/hera_librarian/docs/Accessing.md
  librarian_packages/hera_librarian/docs/Administration.md
  librarian_packages/hera_librarian/docs/Index.md
  librarian_packages/hera_librarian/docs/Ingesting.md
  librarian_packages/hera_librarian/docs/Overview.md
  librarian_packages/hera_librarian/docs/Searching.md
  librarian_packages/hera_librarian/docs/Staging.md
  librarian_packages/server/MANIFEST.in
Due: none

Update .coveragerc after reorg
  .coveragerc
Due: none

Update CI setup
  .circleci/config.yml
  ci/install-circle.sh
Due: none

Address PR comments
  hera_librarian/base_store.py
  hera_librarian/tests/__init__.py
  hera_librarian/tests/test_base_store.py
  hera_librarian/tests/test_utils.py
Due: hera_librarian

Fix another PR issue
  librarian_server/__init__.py
Due: none

Fix CI
  .circleci/config.yml
Due: none

Parameterize temporary directories in tests; adjust CI settings
  .circleci/config.yml
  ci/librarian_tests.yml
  hera_librarian/tests/test_base_store.py
Due: hera_librarian

Filter warnings in tests; install rsync explicitly
  ci/install-circle.sh
  hera_librarian/tests/test_utils.py
Due: hera_librarian

Move code from scripts into cli.py module; add single 'librarian' command for all tasks
  hera_librarian/__init__.py
  hera_librarian/cli.py
  hera_librarian/tests/test_cli.py
  scripts/add_librarian_file_event.py
  scripts/add_obs_librarian.py
  scripts/launch_librarian_copy.py
  scripts/librarian
  scripts/librarian_assign_sessions.py
  scripts/librarian_delete_files.py
  scripts/librarian_initiate_offload.py
  scripts/librarian_locate_file.py
  scripts/librarian_offload_helper.py
  scripts/librarian_search_files.py
  scripts/librarian_set_file_deletion_policy.py
  scripts/librarian_stage_files.py
  scripts/upload_to_librarian.py
  setup.py
Due: hera_librarian

Remove old scripts; change method of implementing cli script
  scripts/add_librarian_file_event.py
  scripts/add_obs_librarian.py
  scripts/launch_librarian_copy.py
  scripts/librarian
  scripts/librarian_assign_sessions.py
  scripts/librarian_delete_files.py
  scripts/librarian_initiate_offload.py
  scripts/librarian_locate_file.py
  scripts/librarian_offload_helper.py
  scripts/librarian_search_files.py
  scripts/librarian_set_file_deletion_policy.py
  scripts/librarian_stage_files.py
  scripts/upload_to_librarian.py
  setup.py
Due: none

Update changelog
  CHANGELOG.md
Due: none

Add help for user-accessible commands; make sure functions actually run
  hera_librarian/cli.py
Due: hera_librarian

Add test for main; update setup.py with test requirements
  hera_librarian/tests/test_cli.py
  setup.py
Due: hera_librarian

Update CI
  ci/install-circle.sh
Due: none

Convert code with 2to3; fix some lingering issues so tests pass
  .circleci/config.yml
  alembic/env.py
  alembic/versions/71df5b41ae41_initial_schema.py
  hera_librarian/__init__.py
  hera_librarian/base_store.py
  hera_librarian/cli.py
  hera_librarian/tests/test_cli.py
  hera_librarian/utils.py
  librarian_server/__init__.py
  librarian_server/bgtasks.py
  librarian_server/dbutil.py
  librarian_server/file.py
  librarian_server/mc_integration.py
  librarian_server/misc.py
  librarian_server/observation.py
  librarian_server/search.py
  librarian_server/store.py
  librarian_server/tests/conftest.py
  librarian_server/tests/test_search.py
  librarian_server/tests/test_store.py
  librarian_server/tests/test_webutil.py
  librarian_server/webutil.py
  scripts/runserver.py
  setup.py
Due: hera_librarian

Fix CI errors
  .circleci/config.yml
  hera_librarian/tests/test_cli.py
Due: hera_librarian

Address PR comments
  hera_librarian/__init__.py
  hera_librarian/base_store.py
  hera_librarian/tests/test_base_store.py
  librarian_server/mc_integration.py
Due: hera_librarian

Convert from str -> bytes
  hera_librarian/__init__.py
Due: hera_librarian

Fix installation of librarian server; add SCM versioning
  .git_archival.txt
  .gitattributes
  .gitignore
  alembic/env.py
  hera_librarian/__init__.py
  librarian_server/__init__.py
  pyproject.toml
  scripts/runserver.py
  setup.py
Due: hera_librarian

Update internal commands given new format
  hera_librarian/base_store.py
Due: hera_librarian

Update docs; add section for quick setup
  README.md
  ci/hl_client.cfg
  docs/Accessing.md
  docs/Administration.md
  docs/Index.md
  docs/Ingesting.md
  docs/Staging.md
  librarian_server/README.md
Due: none

Add alembic import back; update license info in alembic files
  alembic.ini
  alembic/backport_instances.sql
  alembic/env.py
  alembic/script.py.mako
  alembic/versions/0e0e6d02a01a_add_index_on_fileevent_name.py
  alembic/versions/464899566429_make_file_obsids_optional.py
  alembic/versions/71df5b41ae41_initial_schema.py
  alembic/versions/b02eb31402b1_add_index_on_fileinstance_name.py
  alembic/versions/bc996bc8dc1c_add_fileinstance_deletion_policy.py
Due: none

Make sure package is installed in testing to get version info
  .circleci/config.yml
Due: none

Fix versioning for tagged releases
  CHANGELOG.md
  librarian_server/__init__.py
Due: none

Add first pass at globus support; need to iron out APIs and add tests
  CHANGELOG.md
  hera_librarian/__init__.py
  hera_librarian/base_store.py
  hera_librarian/cli.py
  librarian_server/__init__.py
  librarian_server/store.py
  setup.py
Due: hera_librarian

Explicitly list package data to include jinja templates
  .gitignore
  MANIFEST.in
  setup.py
Due: none

Update readme
  README.md
Due: none

Make APIs consistent
  hera_librarian/__init__.py
  hera_librarian/base_store.py
  hera_librarian/cli.py
  librarian_server/__init__.py
  librarian_server/store.py
  librarian_server/webutil.py
Due: hera_librarian
